.leagues{
    list-style-type: none;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5%;
}

.leagues_item{
    float: left;
    border: 1px solid grey;
    margin: 0 5% 5% 0%;
}

.leagues_item:hover{
    box-shadow: 0 0 1px 1px black;
}

.leagues_item_link{
    height: 240px;
    width: 120px;
    border: 1px solid #ddd;
    border-bottom: 3px solid #536591;
    text-align: center;
    cursor: pointer;
    display: block;
}

.leagues_item_pictures{
    margin-top: 20%;
    height: 50%;
}

.leagues_pictures{
    max-height: 80%;
    max-width: 90%;
}

.leagues_text{
    padding: 10%;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: small;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
}